@import "tailwindcss";

/* Tailwind v4: rutas RELATIVAS a este archivo */
@source "./**/*.{js,ts,jsx,tsx}";
@source "./components/**/*.{js,ts,jsx,tsx}";
@source "./layouts/**/*.{js,ts,jsx,tsx}";
@source "./pages/**/*.{js,ts,jsx,tsx}";

@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #f3f4f6;
    color: #111827;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  #root {
    width: 100%;
    min-height: 100vh;
  }
  * {
  @apply transition-colors duration-200;
  }
}
